<% if can? :read, question %>
<div id="question-<%= question.id %>" class="row <%= "deleted" if question.deleted? %>">
  <div class="span3">
    <div class="mini-count"><%= pluralize_count question.vote_count, "vote" %></div>
    <div class="mini-count"><%= pluralize_count question.answers_count, "answer" %></div>
    <div class="mini-count"><%= pluralize_count question.view_count, "view" %></div>
  </div>
  <div class="span<%= width %> question-summary">
    <h4><%= link_to question.title, question %></h4>
    <p class="tags"><%= render :partial => 'questions/tags', :locals => { :tags => question.tags } %></p>
    <p class="last-activity"><span class="timeago"><%= time_ago_in_words question.last_activity_at %> ago</span> <%= homepage_user(question.last_active_user) %></p>
  </div>
</div>
<% end %>
