<div id="question-<%= question.id %>" class="row">
  <div class="mini-counts">
    <div class="mini-count"><div class="num"><%= question.vote_count %></div><div><%= "vote".pluralize(question.vote_count) %></div></div>
    <div class="mini-count"><div class="num"><%= question.answers_count %></div><div><%= "answer".pluralize(question.answers_count) %></div></div>
    <div class="mini-count"><div class="num"><%= views_formatted(question.view_count) %></div><div><%= "view".pluralize(question.view_count) %></div></div>
  </div>
  <div class="question-summary">
    <h3><%= link_to question.title, question %></h3>
    <ul class="tags">
      <% question.tags.each do |tag| %>
        <li class="btn tag"><%= tag.name %></li>
      <% end %>
    </ul>
    <p class="last-activity"><span class="timeago"><%= time_ago_in_words question.last_active_at %> ago</span> <%= link_to question.last_active_user.display_name, question.last_active_user %></p>
  </div>
</div>