<div id="question-<%= question.id %>" class="row">
  <div class="mini-counts">
    <%= mini_count question.vote_count, "vote" %>
    <%= mini_count question.answers_count, "answer" %>
    <%= mini_count views_formatted(question.view_count), "view", with: question.view_count %>
  </div>
  <div class="question-summary">
    <h3><%= link_to question.title, question %></h3>
    <ul class="tags">
      <% question.tags.each do |tag| %>
        <li><%= link_to tag.name, questions_tagged_url(tag: tag.name), class: 'btn tag' %></li>
      <% end %>
    </ul>
    <p class="last-activity">
      <span class="timeago"><%= time_ago_in_words question.last_active_at %> ago</span>
      <%= link_to question.last_active_user.display_name, question.last_active_user %>
      <span class="rep"><%= rep_formatted question.last_active_user.reputation %></span>
    </p>
  </div>
</div>