<div id="page-wrap">
  <div id="body">
    <div class="tabbed-header">
      <% if @active_tab == :activity %>
        <h1>Recent Questions</h1>
      <% elsif @active_tab == :votes %>
        <h1>Top Questions</h1>
      <% end %>
      <ul class="nav nav-tabs pull-right">
        <%= tab_tag :activity do %>
          <%= link_to "activity", root_url %>
        <% end %>
        <%= tab_tag :votes do %>
          <%= link_to "votes", sort: 'votes' %>
        <% end %>
      </ul>
    </div>
    <div class="question-list">
      <%= render partial: 'question-summary', collection: @questions, as: 'question' %>
    </div>
    <%= paginate @questions %>
  </div>

  <div id="sidebar">
    <div class="recent-badges">
      <h5><%=t 'badges.recent_badges' %></h5>
      <ul>
        <% @recent_badges.each do |badge| %>
          <li><%= badge_link(badge) %>&nbsp;<span class="badge-user-info">- <%= link_to badge.user.display_name, badge.user %></span></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
