<% title "Question" %>

<section id="question">
  <%= header :h1, @question.title %>

  <div class="row">
    <div class="span1">
      <%= vote_controls(@question) %>
    </div>
    <div class="span11">
      <%= render partial: 'posts/post', locals: { post: @question } %>
    </div>
  </div>
  <section class="comments">
    <div class="row">
      <div class="span13 offset1 comment-container">
        <%= render :partial => 'comments/comment', :collection => @question.comments %>
        <% if logged_in? %>
          <%= link_to "add comment", new_question_comment_path(@question), :remote => true, :class => "comment-link" %>
        <% end %>
      </div>
    </div>
  </section>
</section>

<% unless @answers.blank? %>
<section id="answers">
  <%= header :h3, pluralize(@answers.size, "Answer") %>
  <% @answers.each do |answer| %>
    <div id="answer-<%= answer.id %>" class="answer">
      <div class="row">
        <div class="span1"><%= vote_controls(answer) %></div>
        <div class="span11">
          <%= render partial: 'posts/post', locals: { post: answer } %>
        </div>
      </div>
      <section class="comments">
        <div class="row">
          <div class="span13 offset1 comment-container">
            <%= render :partial => 'comments/comment', :collection => answer.comments %>
            <% if logged_in? %>
              <%= link_to "add comment", new_answer_comment_path(answer), :remote => true, :class => "comment-link" %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
    <hr>
  <% end %>
</section>
<% end %>

<div id="answer-form">
  <div class="page-header">
    <h3>Answer this question</h3>
  </div>
  <%= render :partial => 'posts/editor', :locals => { :source => [@question, @answer] } %>
</div>
