<% title "Question" %>

<section id="question">
  <div class="page-header">
    <h1><%= @question.title %></h1>
  </div>

  <div class="row">
    <div class="span1"><%= vote_controls(@question) %></div>
    <div class="span15"><%= format @question.body %></div>
  </div>
  <div class="row">
    <div class="span6 offset1">
      <p><%= render :partial => 'tags', :locals => { :tags => @question.tags } %></p>
    </div>
    <% if @question.deleted? %>
      <div class="span7 offset2">
        <p><strong>Deleted</strong> <%= time_ago_in_words @question.deleted_at %> ago, <strong>asked by</strong> <%= link_to @question.user.display_name, user_path(@question.user) %> <%= time_ago_in_words @question.created_at %> ago</p>
      </div>
    <% else %>
      <div class="span5 offset4">
        <p><strong>Asked by</strong> <%= link_to @question.user.display_name, user_path(@question.user) %> <%= time_ago_in_words @question.created_at %> ago</p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="span3 offset1">
      <% if can? :update, @question %>
        <%= link_to "edit", [:edit, @question] %> <span>|</span>
      <% end %>
      <% if can? :destroy, @question %>
        <%= link_to("delete", @question, :method => :delete, :confirm => "Are you sure?") %> <span>|</span>
      <% end %>
      <%= link_to "flag", new_question_flag_path(@question), :remote => true, :class => "flag-link" %>
    </div>
  </div>
</section>

<% unless @answers.blank? %>
<section id="answers">
  <div class="page-header">
    <h3><%= pluralize @answers.size, "Answer" %></h3>
  </div>
  <% @answers.each do |answer| %>
    <div id="answer-<%= answer.id %>" class="answer">
      <div class="row">
        <div class="span1"><%= vote_controls(answer) %></div>
        <div class="span15"><%= format answer.body %></div>
      </div>
      <div class="row">
        <div class="span1 offset1">
          <%= link_to "edit", edit_answer_path(answer) %>
        </div>
        <div class="span6 offset8">
          <p><strong>Answered by</strong> <%= link_to answer.user.display_name, user_path(answer.user) %> <%= time_ago_in_words answer.created_at %> ago</p>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</section>
<% end %>

<div id="answer-form">
  <div class="page-header">
    <h3>Answer this question</h3>
  </div>
  <%= render :partial => 'posts/editor', :locals => { :source => [@question, @answer] } %>
</div>
