<% title "Question" %>

<section id="question">
  <%= header :h1, @question.title %>

  <div class="row">
    <div class="span1">
      <%= vote_controls(@question) %>
    </div>
    <div class="span11">
      <div class="row">
        <div class="span11"><%= format @question.body %></div>
      </div>
      <div class="row">
        <div class="span4">
          <p><%= render :partial => 'tags', :locals => { :tags => @question.tags } %></p>
        </div>
        <%= render :partial => 'users/info-box', :locals => { :user => @question.user, :verb => 'asked', :time => @question.created_at } %>
        <% if @question.deleted? %>
          <p>Deleted <%= time_ago_in_words @question.deleted_at %> ago</p>
        <% end %>
      </div>
      <div class="row">
        <div class="span3">
          <% if can? :update, @question %>
            <%= link_to "edit", [:edit, @question] %> <span>|</span>
          <% end %>
          <% if @question.deleted? %>
            <% if can? :restore, @question %>
              <%= link_to("restore", restore_question_path(@question), :method => :post, :confirm => "Are you sure") %> <span>|</span>
            <% end %>
          <% else %>
            <% if can? :destroy, @question %>
              <%= link_to("delete", @question, :method => :delete, :confirm => "Are you sure?") %> <span>|</span>
            <% end %>
          <% end %>
          <% if logged_in? %>
            <%= link_to "flag", new_question_flag_path(@question), :remote => true, :class => "flag-link" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <section class="comments">
    <div class="row">
      <div class="span13 offset1 comment-container">
        <%= render :partial => 'comments/comment', :collection => @question.comments %>
        <% if logged_in? %>
          <%= link_to "add comment", new_question_comment_path(@question), :remote => true, :class => "comment-link" %>
        <% end %>
      </div>
    </div>
  </section>
</section>

<% unless @answers.blank? %>
<section id="answers">
  <%= header :h3, pluralize(@answers.size, "Answer") %>
  <% @answers.each do |answer| %>
    <div id="answer-<%= answer.id %>" class="answer">
      <div class="row">
        <div class="span1"><%= vote_controls(answer) %></div>
        <div class="span11">
          <div class="row">
            <div class="span11">
              <%= format answer.body %>
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <% if can? :update, answer %>
                <%= link_to "edit", [:edit, answer] %> <span>|</span>
              <% end %>
              <% if answer.deleted? %>
                <% if can? :restore, answer %>
                  <%= link_to("restore", restore_answer_path(answer), :method => :post, :confirm => "Are you sure") %> <span>|</span>
                <% end %>
              <% else %>
                <% if can? :destroy, answer %>
                  <%= link_to("delete", answer, :method => :delete, :confirm => "Are you sure?") %> <span>|</span>
                <% end %>
              <% end %>
              <%= link_to "flag", new_answer_flag_path(answer), :remote => true, :class => "flag-link" %>
            </div>
            <%= render :partial => 'users/info-box', :locals => { :user => answer.user, :verb => 'answered', :time => answer.created_at } %>
          </div>
        </div>
      </div>
      <section class="comments">
        <div class="row">
          <div class="span13 offset1 comment-container">
            <%= render :partial => 'comments/comment', :collection => answer.comments %>
            <% if logged_in? %>
              <%= link_to "add comment", new_answer_comment_path(answer), :remote => true, :class => "comment-link" %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
    <hr>
  <% end %>
</section>
<% end %>

<div id="answer-form">
  <div class="page-header">
    <h3>Answer this question</h3>
  </div>
  <%= render :partial => 'posts/editor', :locals => { :source => [@question, @answer] } %>
</div>
