<div class="page-header">
  <h1><%= @question.title %></h1>
</div>

<div id="body">
  <div class="question" id="question-<%= @question.id %>">
    <div class="main">
      <div class="vote-controls"><%= vote_controls(@question) %></div>
      <div class="body"><%=format @question.body %></div>
    </div>
    <div class="meta">
      <div class="links">
        <%= link_to 'edit', edit_question_url(@question.id, slug: @question.slug) %>
      </div>
      <div class="righto">
        <p>asked <%= time_ago_in_words @question.created_at %> ago by <%= link_to @question.user.name, @question.user %></p>
      </div>
    </div>
  </div>

  <div class="answers">
    <div class="page-header">
      <h3><%= pluralize @answers.size, "Answer" %></h3>
    </div>
    <% @answers.each do |answer| %>
      <div class="answer" id="answer-<%= answer.id %>">
        <div class="main">
          <div class="vote-controls"><%= vote_controls(answer) %></div>
          <div class="body"><%=format answer.body%></div>
        </div>
      </div>
    <% end %>
  </div>

  <% if logged_in? %>
    <div class="page-header"><h3>Answer Question</h3></div>
    <%= simple_form_for @answer, html: { class: 'form-vertical'} do |f| %>
      <%= f.input :question_id, as: :hidden, input_html: { value: @question.id } %>
      <%= f.input :body, label: false %>
      <div class="form-actions">
        <%= f.button :submit, class: 'btn-primary' %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="sidebar">
  sidebar content
</div>