<div id="page-wrap">
  <div id="body">
    <div class="question-list">
      <%= render partial: 'question-summary', collection: @questions, as: 'question' %>
    </div>
  </div>
  <div id="sidebar">
    <h4><%= @count %> questions tagged <a class="btn btn-default tag"><%= params[:tag] %></a></h4>
    <h5>related tags</h5>
    <ul class="sidebar-tags">
      <% @related_tags.each do |tag| %>
        <li><a class="btn btn-default tag"><%= tag.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<%= paginate @questions %>