<div class="page-header">
  <h1><%=t @badge.translate_key('name') %></h1>
</div>

<div class="badge-description">
  <span class="badge <%= @badge.badge_type %>"><%=t @badge.translate_key('name') %></span>
  <p><%=t @badge.translate_key('description') %></p>

  <p>Awarded <%= pluralize @badge_count, 'time', 'times' %></p>
</div>

<h3>Recent awards</h3>

<ol class="badge-award-list">
  <% @recent_awards.each do |award| %>
    <li><%= render partial: 'users/infobox', locals: { string: 'awarded', time: award.created_at, user: award.user } %></li>
  <% end %>
</ol>