<div class="user-info-box">
  <p class="details"><%= verb %> <%= time_ago_in_words(time) %> ago</p>
  <img class="gravatar" src="<%= user.gravatar %>">
  <p class="user-link"><%= link_to user.display_name, user_url(user) %></p>
  <p class="more-info"><span class="reputation-score"><%= user.reputation %></span></p>
</div>