<div class="react-user-info"
  data-asked="<%= string %> <%= time_ago_in_words time %> ago"
  data-display-name="<%= user.display_name %>"
  data-gravatar="<%= user.gravatar %>"
  data-reputation="<%= user.reputation %>"
  data-user-link="/users/<%= user.to_param %>"></div>
