<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<%= render partial: 'info', locals: { user: @user } %>

<div class="page-header">
  <h2><%= pluralize @user.question_count, 'Question', 'Questions' %></h2>
</div>

<div class="question-list">
  <%= render partial: 'questions/question-summary', collection: @questions, as: 'question' %>
</div>

<%= paginate @questions %>
