<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<%= render partial: 'info', locals: { user: @user } %>

<div class="row">
  <div class="user-box user-question-list">
    <div class="header">
      <h3><%= link_to header_pluralize(@user.question_count, 'Question', 'Questions'), questions_user_path(@user) %></h3>
    </div>
    <ul>
      <% @questions.each do |question| %>
        <li>
          <span class="vote-count"><%= question.vote_count %></span>
          <%= link_to question.title, question %>
        </li>
      <% end %>
    </ul>
  </div>
  
  <div class="user-box user-answer-list">
    <div class="header">
      <h3><%= link_to header_pluralize(@user.answer_count, 'Answer', 'Answers'), answers_user_path(@user) %></h3>
    </div>
    <ul>
      <% @answers.each do |answer| %>
        <li>
          <span class="vote-count"><%= answer.vote_count %></span>
          <%= link_to answer.question.title, answer.question %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="user-box">
    <div class="header">
      <h3><%= header_pluralize(@user.badge_count, 'Badge', 'Badges') %></h3>
    </div>

    <ul class="badge-list">
      <% @badges.each do |badge| %>
        <li><span class="badge <%= badge.badge_type %>"><%=t badge.name %></span></li>
      <% end %>
    </ul>
  </div>
</div>
