<% title @user.username %>

<%= header :h1, @user.display_name %>

<div class="row">
  <div class="span3">
    <%= gravatar(@user.email, 160) %>
    <p><%= @user.reputation %> reputation</p>
  </div>
  <div class="span6"><%= format @user.about_me if @user.about_me %></div>
  <div class="span7"><%= @user.twitter %></div>
</div>

<section id="user-questions">
  <%= header :h3, pluralize(@total_questions.count, "Question") %>
  <%= render :partial => "questions/question", :collection => @questions, :locals => { :width => 12 } %>
</section>

<section id="answers">
  <%= header :h3, pluralize(@total_answers.count, "Answer") %>
  <%= render :partial => "answers/answer_list", :collection => @answers, :as => :answer %>
</section>

