<% title @user.username %>

<div class="page-header">
  <h1><%= @user.display_name %></h1>
</div>

<div class="row">
  <div class="span3">
    <%= gravatar(@user.email, 160) %>
    <p><%= @user.reputation %> reputation</p>
  </div>
  <div class="span6"><%= format @user.about_me if @user.about_me %></div>
  <div class="span7"><%= @user.twitter %></div>
</div>

<section id="questions">
  <div class="page-header">
    <h3><%= pluralize(@total_questions.count, "Question") %></h3>
  </div>
  <%= render :partial => "questions/question", :collection => @questions, :locals => { :width => 12 } %>
</section>

<section id="answers">
  <div class="page-header">
    <h3><%= pluralize(@total_answers.count, "Answer") %></h3>
  </div>
  <%= render :partial => "answers/answer_list", :collection => @answers, :as => :answer %>
</section>

