<div class="answer post" id="answer-<%= answer.id %>">
  <div class="controls">
    <div class="vote-controls"><%= vote_controls(answer) %></div>
    <% if current_user == question.user %>
      <div class="accept-answer">
        <%= form_tag accept_answer_url(id: @question.id), remote: true do %>
          <%= hidden_field_tag :answer_id, answer.id %>
          <button type="submit">
            <i class="icon-ok inactive"></i>
          </button>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="main">
    <div class="body"><%=format answer.body%></div>
    <div class="meta">
      <div class="links"><%= link_to 'edit', edit_answer_path(answer) if logged_in? %></div>
      <div class="righto">answered <%= time_ago_in_words answer.created_at %> ago by <%= link_to answer.user.display_name, answer.user %></div>
    </div>
  </div>
</div>