<div class="answer post" id="answer-<%= answer.id %>">
  <div class="controls">
    <div class="vote-controls"><%= vote_controls(answer, @user_votes) %></div>
    <%= render partial: 'answers/accept_answer', locals: { question: question, answer: answer } %>
  </div>
  <div class="main">
    <div class="body"><%=format answer.body%></div>
    <div class="meta">
      <div class="links">
        <% if policy(answer).edit? %>
          <%= link_to 'edit', edit_answer_path(answer) %>
        <% end %>
        <%= link_to 'timeline', answer_timeline_path(answer) %>
      </div>
      <div class="righto">
        <%= render partial: 'users/infobox', locals: { string: 'answered', time: answer.created_at, user: answer.user } %>
      </div>
    </div>
    <%= render partial: 'comments/comments', locals: { comments: answer.comments, post: answer } %>
  </div>
</div>
