<div class="answer post" id="answer-<%= answer.id %>">
  <div class="controls">
    <div class="vote-controls"><%= vote_controls(answer) %></div>
    <%= render partial: 'answers/accept_answer', locals: { question: question, answer: answer } %>
  </div>
  <div class="main">
    <div class="body"><%=format answer.body%></div>
    <div class="meta">
      <div class="links">
        <% if policy(answer).edit? %>
          <%= link_to 'edit', edit_answer_path(answer) %>
        <% end %>
        <%= link_to 'timeline', answer_timeline_path(answer) %>
      </div>
      <div class="righto">
        <div class="user-info">
          <p class="asked">answered <%= time_ago_in_words answer.created_at %> ago</p>
          <img class="gravatar" src="<%= answer.user.gravatar %>" />
          <div class="user-details">
            <%= link_to answer.user.display_name, answer.user %>
            <span><%= answer.user.reputation %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>