<div class="row">
  <div class="span15 offset1">
    <h3><%= link_to flag.flaggable.title, flag.flaggable %></h3>
  </div>
</div>
<div class="row">
  <div class="span1">
    <p class="vote-count"><%= flag.flaggable.vote_count %></p>
  </div>
  <div class="span15">
    <%= flag.flaggable.body.markdown %>
    <p><%= link_to flag.user.display_name, flag.user %> flagged this <%= time_ago_in_words flag.created_at %> ago because he thinks it <%=t "flags.reasons.#{flag.reason}" %>. <%= link_to "dismiss?", dismiss_flag_url(flag) %></p>
  </div>
</div>

