<div class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>What are you flagging for?</h3>
  </div>
  <%= form_for [@item, Flag.new], :remote => true, :html => { :class => "form-stacked" } do |f| %>
    <div class="modal-body clearfix">
      <%= f.hidden_field :flaggable_id, :value => @item.id %>
      <%= f.hidden_field :flaggable_type, :value => @item.class %>
      <div class="control-group">
        <div class="controls">
          <%= f.label :reason, :value => :attention, :class => :radio do %>
            <% f.radio_button(:reason, :attention) + "it requires moderator attention"%>
          <% end %>
          <%= f.label :reason, :value => :offensive, :class => :radio do %>
            <% f.radio_button(:reason, :offensive) + "it contains offensive content" %>
          <% end %>
          <%= f.label :reason, :value => :spam, :class => :radio do %>
            <% f.radio_button(:reason, :spam) + "it is spam" %>
          <% end %>
        </div>
      </div>
    </div>  
    <div class="modal-footer">
      <%= f.submit "Flag", :class => "btn danger" %>
      <a href="#" class="btn secondary">Cancel</a>
    </div>
  <% end %>
</div>