<div class="modal hide fade">
  <div class="modal-header">
    <a href="#" class="close">x</a>
    <h3>What are you flagging for?</h3>
  </div>
  <%= form_for [@item, Flag.new], :remote => true, :html => { :class => "form-stacked" } do |f| %>
    <div class="modal-body clearfix">
      <%= f.hidden_field :flaggable_id, :value => @item.id %>
      <%= f.hidden_field :flaggable_type, :value => @item.class %>
      <div class="input">
        <ul class="inputs-list">
          <li>
            <%= f.radio_button :reason, :attention %>
            <%= f.label :reason, "it requires moderator attention", :value => :attention %>
          </li>
          <li>
            <%= f.radio_button :reason, :offensive %>
            <%= f.label :reason, "it contains offensive content", :value => :offensive %>
          </li>
          <li>
            <%= f.radio_button :reason, :spam %>
            <%= f.label :reason, "it is spam", :value => :spam %>
          </li>
        </ul>
      </div>
    </div>  
    <div class="modal-footer">
      <%= f.submit "Flag", :class => "btn danger" %>
      <a href="#" class="btn secondary">Cancel</a>
    </div>
  <% end %>
</div>

