<div class="row">
  <div class="span11"><%= format post.body %></div>
</div>
<div class="row">
  <div class="span11">
    <% if post.is_a?(Question) %>
      <p><%= render partial: 'tags', locals: { tags: post.tags } %></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span3">
    <% if can? :update, post %>
      <%= link_to "edit", [:edit, post] %> <span>|</span>
    <% end %>
    <% if post.deleted? %>
      <% if can? :restore, post %>
        <%= link_to "restore", [:restore, post], :method => :post, :confirm => "Are you sure" %> <span>|</span>
      <% end %>
    <% else %>
      <% if can? :destroy, post %>
        <%= link_to "delete", post, :method => :delete, :confirm => "Are you sure?" %> <span>|</span>
      <% end %>
    <% end %>
    <% if logged_in? %>
      <%= link_to "flag", new_polymorphic_path([post, :flag]), remote: true, class: "flag-link" %>
    <% end %>
  </div>  
  <% if post.is_a?(Question) %>
    <%= render partial: 'users/info-box', locals: { user: post.user, verb: 'asked', time: post.created_at } %>
  <% elsif post.is_a?(Answer) %>
    <%= render partial: 'users/info-box', locals: { user: post.user, verb: 'answered', time: post.created_at } %>
  <% end %>
  <% if post.deleted? %>
    <p>Deleted <%= time_ago_in_words post.deleted_at %> ago</p>
  <% end %>
</div>