<div class="page-header">
  <h1>Welcome, <%= @user.name %></h1>
</div>

<p>You are creating a <b>new account</b>. Are you sure this is what you want to do? Adding an OpenID to an existing account requires you to login first.</p>
<p>Check the details below, and confirm</p>

<%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
