<form action="/votes" method="post" data-remote="true" class="vote-form" id="<%= "vote-#{post.class.name.downcase}-#{post.id}" %>">
  <%= hidden_field_tag "vote[post_id]", post.id %>
  <%= hidden_field_tag "vote[post_type]", post.class %>
  <button type="submit" name="vote[vote_type]" value="<%= vote_type %>" class="arrow">
    <i class="<%= vote_type == 'upvote' ? 'icon-chevron-up' : 'icon-chevron-down' %>"></i>
  </button>
</form>