<!DOCTYPE html>
<html>
  <head>
    <% if content_for?(:title) %>
      <title><%= %(#{yield(:title)} · #{SiteSettings.name}) %></title>
    <% else %>
      <title><%= SiteSettings.name %></title>
    <% end %>
    <%= stylesheet_link_tag :application %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag :application %>
    <%= javascript_include_tag :build %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to SiteSettings.name, '/', class: 'navbar-brand' %>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Tags', tags_path %></li>
            <li><%= link_to 'Users', users_path %></li>
            <li><%= link_to 'Ask Question', new_question_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
              <li><p class="navbar-reputation"><%= current_user.reputation %></p></li>
              <% if current_user.has_gold_badges? %>
                <li><span class="badge-count gold"><%= current_user.gold_count %></span><li>
              <% end %>
              <% if current_user.has_silver_badges? %>
                <li><span class="badge-count silver"><%= current_user.silver_count %></span><li>
              <% end %>
              <% if current_user.has_bronze_badges? %>
                <li><span class="badge-count bronze"><%= current_user.bronze_count %></span><li>
              <% end %>
              <% if current_user.admin? %>
                <li><%= link_to 'Admin', '/admin' %></li>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle user-dropdown" data-toggle="dropdown"><%= current_user.display_name %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Your profile', current_user, tabindex: '-1' %></li>
                  <li><%= link_to 'Edit profile', edit_user_path %></li>
                  <li><%= button_to 'Logout', '/logout', method: :post, id: 'logout' %></li>
                </ul>
              </li>
            <% else %>
              <li><a id="login-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <% if @admin_page_warning %>
     <%= render partial: 'admin/warning' %>
    <% end %>
    <div class="container">
      <% flash.each do |name, msg| %>
        <div class="flash-<%= name %>"><%= msg %></div>
      <% end %>
      <%= yield %>
    </div>
    <% unless logged_in? %>
      <%= render partial: 'layouts/login' %>
    <% end %>
  </body>
</html>
